In [3]:
from langchain.agents import create_sql_agent, AgentType
from langchain.chat_models.openai import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

llm = ChatOpenAI(
    model="gpt-3.5-turbo",
    temperature=0.1,
)

db = SQLDatabase.from_uri("sqlite:///movies.sqlite")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    verbose=True,
)

agent.invoke(
    "Give me the the movies that have the highest votes but the lowest budgets"
    " and give me the names of their director"
)

Error in StdOutCallbackHandler.on_chain_start callback: AttributeError("'NoneType' object has no attribute 'get'")

Action: sql_db_list_tables
Action Input: directors, moviesI should query the schema of the 'movies' and 'directors' tables to see what columns are available for me to use in my query.
Action: sql_db_schema
Action Input: movies, directors
CREATE TABLE directors (
	name TEXT,
	id INTEGER,
	gender INTEGER,
	uid INTEGER,
	department TEXT,
	PRIMARY KEY (id)
)

/*
3 rows from directors table:
name	id	gender	uid	department
James Cameron	4762	2	2710	Directing
Gore Verbinski	4763	2	1704	Directing
Sam Mendes	4764	2	39	Directing
*/


CREATE TABLE movies (
	id INTEGER,
	original_title VARCHAR,
	budget INTEGER,
	popularity INTEGER,
	release_date TEXT,
	revenue INTEGER,
	title TEXT,
	vote_average REAL,
	vote_count INTEGER,
	overview TEXT,
	tagline TEXT,
	uid INTEGER,
	director_id INTEGER DEFAULT 0 NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from movies table:
id	original_title	budget	popularity	release_date	revenue	title	vote_average	vote_count	overview	tagline	uid	director_id
43597	Avatar	237000000	150	2009-12-10	2787965087	Avatar	7.2	11800	In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but 	Enter the World of Pandora.	19995	4762
43598	Pirates of the Caribbean: At World's End	300000000	139	2007-05-19	961000000	Pirates of the Caribbean: At World's End	6.9	4500	Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the E	At the end of the world, the adventure begins.	285	4763
43599	Spectre	245000000	107	2015-10-26	880674609	Spectre	6.3	4466	A cryptic message from Bondâ€™s past sends him on a trail to uncover a sinister organization. While M 	A Plan No One Escapes	206647	4764
*/I can query the 'movies' table to get the movies with the highest votes and lowest budgets, then join with the 'directors' table to get the names of their directors.
Action: sql_db_query
Action Input: SELECT m.original_title AS movie_title, d.name AS director_name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;[('Inception', 'Christopher Nolan'), ('The Dark Knight', 'Christopher Nolan'), ('Avatar', 'James Cameron'), ('The Avengers', 'Joss Whedon'), ('Deadpool', 'Tim Miller'), ('Interstellar', 'Christopher Nolan'), ('Django Unchained', 'Quentin Tarantino'), ('Guardians of the Galaxy', 'James Gunn'), ('The Hunger Games', 'Gary Ross'), ('Mad Max: Fury Road', 'George Miller')]I now know the final answer.

Final Answer: The movies with the highest votes but the lowest budgets and their directors are:
1. Inception - Christopher Nolan
2. The Dark Knight - Christopher Nolan
3. Avatar - James Cameron
4. The Avengers - Joss Whedon
5. Deadpool - Tim Miller
6. Interstellar - Christopher Nolan
7. Django Unchained - Quentin Tarantino
8. Guardians of the Galaxy - James Gunn
9. The Hunger Games - Gary Ross
10. Mad Max: Fury Road - George Miller

> Finished chain.

{'input': 'Give me the the movies that have the highest votes but the lowest budgets and give me the names of their director',
 'output': 'The movies with the highest votes but the lowest budgets and their directors are:\n1. Inception - Christopher Nolan\n2. The Dark Knight - Christopher Nolan\n3. Avatar - James Cameron\n4. The Avengers - Joss Whedon\n5. Deadpool - Tim Miller\n6. Interstellar - Christopher Nolan\n7. Django Unchained - Quentin Tarantino\n8. Guardians of the Galaxy - James Gunn\n9. The Hunger Games - Gary Ross\n10. Mad Max: Fury Road - George Miller'}